/* ===================== FONT LINK ======================= */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
body{
    font-family: 'Rubik', sans-serif;
    height: 100vh;
    background-color: #e8e8dd;
    display: flex;
}
section{
    margin: auto;
    width: 55%;
    border-radius:25px 25px 20% 25px ;
}
.inputs{
    height: 35%;
}
form{
    width: 22%;
}
label{
    font-size: .8REM;
    letter-spacing: 2px;
    color: #827c7c;
}
input{
    outline: 0;
    border: solid 0.5px #a79e9e;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
::placeholder{
    color: #b3abab;
    font-size: 1.5rem;
    font-weight: 600;
}
p{
    font-size: .7REM;
    color: transparent;
    font-weight: 400;
}
p.error,
label.error{
    color: #ff1010;
}
input.error{
    border-color:  #ff1010;
}
.arrow{
    bottom: 0;
    right: 50px;
    background-color: #b684e4;
    transform: translateY(50%);
}
h1{
    font-size: 3.5rem;
}
span{
    color: #b684e4;
    font-size: 3.5rem;
}
/* ===================== Breakpoints ======================= */
@media screen and (width <= 768px) {
    .arrow{
        right: 50%;
        transform: translate(50%,50%);
    }
    span,h1{
        font-size: 2.5rem;
    }
}
@media screen and (width <= 991px) {
    section{
        width: 90%;
    }
    ::placeholder{
        font-size: 1rem;
    }
}

